In [1]:
import pandas as pd

In [2]:
EXCEL_FILE = 'customer_and_transaction.xlsx'

Загружаем и смотрим данные

In [4]:
transactions_df = pd.read_excel(EXCEL_FILE, sheet_name='transaction')
customers_df = pd.read_excel(EXCEL_FILE, sheet_name='customer')

In [5]:
transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    20000 non-null  int64
 1   product_id        20000 non-null  int64
 2   customer_id       20000 non-null  int64
 3   transaction_date  20000 non-null  datetime64[ns]
 4   online_order      19640 non-null  object
 5   order_status      20000 non-null  object
 6   brand             19803 non-null  object
 7   product_line      19803 non-null  object
 8   product_class     19803 non-null  object
 9   product_size      19803 non-null  object
 10  list_price        20000 non-null  float64
 11  standard_cost     19803 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(6)
memory usage: 1.8+ MB

In [6]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            4000 non-null   int64
 1   first_name             4000 non-null   object
 2   last_name              3875 non-null   object
 3   gender                 4000 non-null   object
 4   DOB                    3913 non-null   object
 5   job_title              3494 non-null   object
 6   job_industry_category  3344 non-null   object
 7   wealth_segment         4000 non-null   object
 8   deceased_indicator     4000 non-null   object
 9   owns_car               4000 non-null   object
 10  address                4000 non-null   object
 11  postcode               4000 non-null   int64
 12  state                  4000 non-null   object
 13  country                4000 non-null   object
 14  property_valuation     4000 non-null   int64
dtypes: int64(3), object(12)
memory usage: 468.9+ KB

Группируем столбцы по таблицам

### transactions

In [8]:
transactions_final = transactions_df[[
    'transaction_id', 'product_id', 'customer_id', 
    'transaction_date', 'online_order', 'order_status', 'list_price'
]].copy()

In [9]:
transactions_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    20000 non-null  int64
 1   product_id        20000 non-null  int64
 2   customer_id       20000 non-null  int64
 3   transaction_date  20000 non-null  datetime64[ns]
 4   online_order      19640 non-null  object
 5   order_status      20000 non-null  object
 6   list_price        20000 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 1.1+ MB

### products

In [10]:
products_final = transactions_df[[
    'product_id', 'brand', 'product_line', 'product_class', 'product_size', 'standard_cost'
]].drop_duplicates('product_id').copy()

In [11]:
products_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101 entries, 0 to 509
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     101 non-null    int64
 1   brand          101 non-null    object
 2   product_line   101 non-null    object
 3   product_class  101 non-null    object
 4   product_size   101 non-null    object
 5   standard_cost  101 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 5.5+ KB

### customers

In [12]:
customers_final = customers_df[[
    'customer_id', 'first_name', 'last_name', 'gender', 'DOB',
    'job_industry_category', 'job_title', 'wealth_segment',
    'deceased_indicator', 'owns_car', 'address'
]].copy()

In [13]:
customers_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            4000 non-null   int64
 1   first_name             4000 non-null   object
 2   last_name              3875 non-null   object
 3   gender                 4000 non-null   object
 4   DOB                    3913 non-null   object
 5   job_industry_category  3344 non-null   object
 6   job_title              3494 non-null   object
 7   wealth_segment         4000 non-null   object
 8   deceased_indicator     4000 non-null   object
 9   owns_car               4000 non-null   object
 10  address                4000 non-null   object
dtypes: int64(1), object(10)
memory usage: 343.9+ KB

### customer_addresses

In [14]:
customer_addresses_final = customers_df[[
    'country', 'state', 'postcode', 'address', 'property_valuation'
]].copy()

In [15]:
customer_addresses_final = customer_addresses_final.drop_duplicates().reset_index(drop=True)

In [16]:
customer_addresses_final['address_id'] = customer_addresses_final.index + 1

In [17]:
customer_addresses_final = customer_addresses_final[['address_id', 'country', 'state', 'postcode', 'address', 'property_valuation']]

In [18]:
customer_addresses_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   address_id          4000 non-null   int64
 1   country             4000 non-null   object
 2   state               4000 non-null   object
 3   postcode            4000 non-null   int64
 4   address             4000 non-null   object
 5   property_valuation  4000 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

### master

In [19]:
master_final = transactions_df[['transaction_id', 'product_id', 'customer_id']].copy()

In [20]:
master_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  20000 non-null  int64
 1   product_id      20000 non-null  int64
 2   customer_id     20000 non-null  int64
dtypes: int64(3)
memory usage: 468.9 KB

In [21]:
master_final = master_final.merge(
    customers_df[['customer_id', 'address']], 
    on='customer_id', 
    how='left'
)

In [22]:
master_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  20000 non-null  int64
 1   product_id      20000 non-null  int64
 2   customer_id     20000 non-null  int64
 3   address         19997 non-null  object
dtypes: int64(3), object(1)
memory usage: 625.1+ KB

In [23]:
unique_addresses = customer_addresses_final[['address', 'address_id']].drop_duplicates(subset=['address'])

master_final = master_final.merge(
    unique_addresses, 
    on='address', 
    how='left'
)

In [24]:
master_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  20000 non-null  int64
 1   product_id      20000 non-null  int64
 2   customer_id     20000 non-null  int64
 3   address         19997 non-null  object
 4   address_id      19997 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 781.4+ KB

In [79]:
# Оставляем только нужные колонки
master_final = master_final[['transaction_id', 'product_id', 'customer_id', 'address_id']]

In [67]:
master_final['row_id'] = master_final.index + 1
master_final = master_final[['row_id', 'transaction_id', 'product_id', 'customer_id', 'address_id']]

In [81]:
master_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  20000 non-null  int64
 1   product_id      20000 non-null  int64
 2   customer_id     20000 non-null  int64
 3   address_id      19997 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 625.1 KB

В исходных данных на вкладке customers не существует клиента с ID = 5034, в то время как в транзакциях есть 3 строки с этим ID.
При загрузке DBeaver выдает ошибку.

В силу несущественности объема этих данных в общем объеме (3 наблюдения из 20000), удалим данные.

In [90]:
master_clean = master_final[master_final['customer_id'] != 5034].copy()

Сохраняем в формате Excel для дальнейшей загрузки через DBeaver

In [77]:
transactions_final.to_csv('transactions.csv', index=False, encoding='utf-8')
products_final.to_csv('products.csv', index=False, encoding='utf-8')
customers_final.to_csv('customers.csv', index=False, encoding='utf-8')
customer_addresses_final.to_csv('customer_addresses.csv', index=False, encoding='utf-8')
master_clean.to_csv('master.csv', index=False, encoding='utf-8')